h1{
    color: red;
    font-size: 40px;
    font-family: "仿宋";
}

.first{
    width: 500px; /* 宽度 */
    height: 400px; /* 高度 */
    border: 3px solid red; /* 边框3px实线红色 */
    display: flex; /* 设置外层布局为弹性布局 */
    flex-direction: row;  /* 布局方向，可以是column或者row */
    justify-content: center;
}

.one{
    background-color: gold;
    flex: 1;
}

.two{
    background-color: #0ac;
    flex: 2;
}

.three{
    background-color: orange;
    flex: 1;
}